.zia{
    border-radius: 20px;
}

.hero .carousel-container-modified {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    min-height: 30vh;
    padding-top: 60px;
  }